{{ define "main" }}
{{if eq .Params.hidden "true"}}
    {{ .Render "hidden" }}
{{else}}
{{ $page := . }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row row-cols-1">
                        
                            <div class="col-9 pb-3">
                                <h1 class="mb-3">{{ .Title }}</h1>
                                <p><span class="bold-text rating-size">Rating:</span> <span class="rating-size">{{$page.Params.rating}}/5</span></p>
                                <h6 class="bold-text">Amazon:
                                    {{ if $page.Params.amazon_paper -}}
                                    <a href="{{$page.Params.amazon_paper | absURL}}">Read on paper</a>
                                    {{- end -}}
                                    {{ if $page.Params.amazon_kindle -}}
                                        |<a href="{{$page.Params.amazon_kindle | absURL}}">Read on Kindle</a>
                                    {{- end -}}
                                    {{ if $page.Params.amazon_audio -}}
                                        |<a href="{{$page.Params.amazon_audio | absURL}}">Listen to it</a>   
                                    {{- end -}}
                                </h6> 
                                {{- with $page.Params.tags -}}
                                    <div class="tags my-3">
                                        {{- range . -}}
                                            <a class="badge badge-pill badge-light border mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                                                <i class="fas fa-tag mr-2"></i>{{ . }}
                                            </a>
                                        {{- end -}}
                                    </div>
                                {{- end -}}
                            </div>
                            <div class="col-md-3 pb-3 col-sm-12">
                                {{- with $page.Params.images -}}
                                    {{- $images := . -}}
                                        {{- with $page.Site.GetPage "section" "images" -}}
                                            {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                                                {{- $image := .Fit "1000x260" -}}
                                                <a href="{{ $page.RelPermalink }}" class="d-block"></a>
                                                    <img data-src="{{ $image.RelPermalink }}" class="rounded" alt="{{ $page.Title }}">
                                                </a>
                                        {{- end -}}
                                    {{- end -}}
                                {{- end -}}
                            </div>
                        </div>
                        <div class="content">
                            
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}
{{end}}
