{{ define "main" }}
<main class="list container pt-4 pb-6">
    {{- if or .Title .Content -}}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{ with .Title }}<h3 class="display-4 bookshelf mb-5">{{ . }}</h3>{{ end }}

            {{- with .Content -}}
            <div class="content pb-3">
                {{ . }}
            </div>
            {{- end -}}
            {{range where .Pages "Params.first" "ne" "true"}}

            <div class="mb-3 essay-border">
                {{ .Render "card" }}
            </div>

            {{ end }}
            {{range where .Pages "Params.first" "==" "true"}}

            <div class="mb-3">
                {{ .Render "card" }}
            </div>

            {{ end }}
        </div>
        {{- end -}}
    </div>



</main>
{{ end }}