
    <ul class="authors list-inline">
  
                <li class="list-inline-item mr-3">
                    <div class="media author">
                  
                                    <picture class="mr-3">
                                        <source srcset="{{`/images/andy-gao_small.png`}} 1x, {{`/images/andy-gao_med.png`}} 2x, {{`/images/andy-gao_large.png`}} 3x">
                                        <img src="/images/andy-gao_large.png" class="rounded-circle" alt="image of andy">
                                    </picture>
             
                        <div class="media-body">
                            <h5 class="name my-0">
                                    <span class="small">Andy Gao</span>
                            </h5>
                  
                                <p class="social small text-muted">
                                    <a href="https://twitter.com/andyjgao">@andyjgao</a>
                                </p>
                     
                        </div>
                    </div>
                </li>
   
    </ul>

