{{ $page := . }}
<div class="latest row py-2">
    <div class="col-md-2 mb-3 d-none d-md-block text-left">
        {{- with $page.Params.images -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "images" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                    {{- $image := .Fit "300x140" -}}
                    <a href="{{ $page.RelPermalink }}" class="d-block">
                        <img data-src="{{ $image.RelPermalink }}" class="img-fluid rounded" alt="{{ $page.Title }}">
                    </a>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </div>
    <div class="col-md-10 col-12 mb-3">
        <span class="title-font"><a href="{{ $page.RelPermalink }}">{{ $page.Title }} by {{$page.Params.book_author}}</a> </span> <br/><span class="bold-text">Rating:</span> {{$page.Params.rating}}/5


        <div class="content">
            {{ $page.Params.description | truncate 210 }}
        </div>
    </div>
</div>


       